@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --body-bg: #292929;
  --navbar-bg: #101010;
  --drop-menu: #131313;
  --ride-bg: #171717;
  --label-bg: rgba(0, 0, 0, 0.56);
  --white: #ffffff;
  --gray: #D0CBCB; 
  --gray-II: #CFCFCF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--body-bg);
  min-height: 100vh;
}

ul {
  list-style: none;
}


.footer {
  border-top: 1px solid #D0CBCB0F;
  padding: 0.25rem 0;
  text-align: center;

}

.footer .circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #D0CBCB0F;
}

/* global styles */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 18px;
}


